<h2 color="warn" matDialogTitle>Delete {{ Title }}</h2>
<mat-dialog-content>
  <p class="mat-typography">Are you sure you want to delete Contact </p>
  <p class="mat-typography">Please note, if you delete this, it will delete all linked numbers and emails</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button  (click)="onOkclick();" color="accent">Ok</button>
  <button mat-raised-button (click)="onClose();"  color="warn">Cancel</button>
</mat-dialog-actions>
