<div class="sales-list mat-elevation-z4 ">
  <toaster-container [toasterconfig]="config"></toaster-container>
  <mat-toolbar>
    <mat-toolbar-row>
      <span>Contacts</span>
      <span class="pull-right"></span>
      <button mat-icon-button>
        <mat-icon (click)="reload();" >refresh</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon (click)="CreateContact();">add</mat-icon>
      </button>      
      <input
       (keyup)="searchTerm$.next($event.target.value)" class="form-control mat-typography"><mat-icon>search</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-progress-bar *ngIf="showLoader" [color]="'primary'" [mode]="'indeterminate'" [value]="90" [bufferValue]="'10'">
  </mat-progress-bar>
  <mat-list>
    <mat-list-item *ngFor="let contact of contacts">
      <h3> {{contact.firstname}}  {{contact.lastName}} </h3>
      <mat-chip-list class="pull-right">
          <button mat-icon-button color="warn" (click)="EditContact(contact)" matTooltip="delete Contact">
              <mat-icon>edit</mat-icon>
          </button>
        <button mat-icon-button color="warn" (click)="DeleteContact(contact)" matTooltip="delete Contact">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button color="accent" (click)="ViewContact(contact)" matTooltip="View Contact">
          <mat-icon>remove_red_eye</mat-icon>
        </button>
      </mat-chip-list>
    </mat-list-item>
  </mat-list>

</div>
