table {
    width: 100%;
  }
  
  .loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @mixin sales-list($theme) {
  
    .sales-list {
      margin: 10px 5px;
      background: white;
    }
  
    .pull-right {
      float: right;
    }
  
    mat-list-item:hover {
      background: #e8eaf6;
      cursor: pointer;
    }
  
    .mat-chip {
      padding: 1px 13px;
    }
  
  }
  
  .nav-item {
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: default;
  
    &:hover {
      transform: translate(0, -8px);
      box-shadow: 0 20px 20px rgba(0, 0, 0, .16)
    }
  }
  