<h1 mat-dialog-title>{{ contact.firstname }} {{ contact.lastName }} </h1>
<div mat-dialog-content>
    <mat-card class="mat-elevation-z12 box-content-inner mat-card" fxlayout="column" fxlayoutalign="center center"
      style="flex-direction: column; box-sizing: border-box; max-width: 100%; place-content: center; align-items: center;">

      <div class="row">
          <mat-toolbar>
              <mat-toolbar-row>
                <span>Phone numbers </span>
                <span class="pull-right"></span>
                <button mat-icon-button>
                  <mat-icon (click)="AddPhoneNumber();">add</mat-icon>
                </button>
              </mat-toolbar-row>
            </mat-toolbar>
          <mat-list *ngIf="contactNumbers.length > 0">
              <mat-list-item *ngFor="let num of contactNumbers">
                <h4> {{ num.phonenumber }} </h4>
                <span class="pull-right"> </span>
                <mat-chip-list>
                    <button mat-icon-button color="warn" (click)="EditPhoneNumber(num)" matTooltip="delete Phone number">
                        <mat-icon>edit</mat-icon>
                    </button>
                  <button mat-icon-button color="warn" (click)="DeletePhoneNumber(num)" matTooltip="delete Phone number">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-chip-list>
              </mat-list-item>
          </mat-list>
          <p class="mat-typography" *ngIf="contactNumbers.length == 0">
              Add phone number
          </p>
      </div>
   
      <div class="row">
          <mat-toolbar>
              <mat-toolbar-row>
                <span>Email Addresses </span>
                <span class="pull-right"></span>
                <button mat-icon-button>
                  <mat-icon (click)="AddEmailAddress();">add</mat-icon>
                </button>
              </mat-toolbar-row>
            </mat-toolbar>
          <mat-list *ngIf="emailAddress.length > 0">
              <mat-list-item *ngFor="let mail of emailAddress">
                <h4> {{ mail.email }}  </h4>
                <span class="pull-right"> </span>
                <mat-chip-list>
                    <button mat-icon-button color="warn" (click)="EditEmailAddress(mail)" matTooltip="delete Contact">
                        <mat-icon>edit</mat-icon>
                    </button>
                  <button mat-icon-button color="warn" (click)="DeleteEmailAddress(mail)" matTooltip="delete Contact">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-chip-list>
              </mat-list-item>
            </mat-list>
            <p class="mat-typography" *ngIf="emailAddress.length == 0">
                Add Email Address
            </p>
      </div>
    </mat-card>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="accent" cdkFocusInitial (click)="onClose()">Close</button>
</div>
