<h1 mat-dialog-title>{{ Title }} Phone Number</h1>
<div mat-dialog-content>
  <form [formGroup]="phoneForm" (ngSubmit)="onSubmit()" fxflex="80" fxflex.gt-sm="30" fxflex.sm="60"
    novalidate="" class="ng-pristine ng-invalid ng-touched" style="flex: 1 1 100%; box-sizing: border-box;margin:auto !important;">
    <mat-card class="mat-elevation-z12 box-content-inner mat-card" fxlayout="column" fxlayoutalign="center center"
      style="flex-direction: column; box-sizing: border-box; max-width: 100%; place-content: center; align-items: center;">

      <div class="row">
        <div fxFlex.xs="100" fxFlex.xl="100" fxFlex.lg="50" fxFlex.md="100" fxFlex.sm="50" style="padding:5px;">
          <mat-form-field class="full-width">
            <input type="text" formControlName="phonenumber" tabindex="1" class="form-control" placeholder="phonenumber"
              required matInput>
          </mat-form-field>
        </div>
      </div>
    </mat-card>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary"  [disabled]="!phoneForm.valid"
    (click)="onSubmit()">Submit</button>
  <button mat-raised-button color="accent" cdkFocusInitial (click)="onClose()">Close</button>
</div>
